<section class="about-us">
  <div class="container about-us__container--bg about-us__container--flex">
    <div class="about-us__text-wrapper">
      <h2 class="about-us__primary-title">About us</h2>
      <h3 class="about-us__secondary-title">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="about-us__descr">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-us__list">
        <li class="about-us__item">
          <p class="about-us__item-value">5+</p>
          <p class="about-us__item-descr">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-us__item">
          <p class="about-us__item-value">100%</p>
          <p class="about-us__item-descr">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-us__item">
          <p class="about-us__item-value">500+</p>
          <p class="about-us__item-descr">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <picture>
      <source media="(min-width: 1440px)" srcset="../img/about-us-desk.jpg" />
      <source media="(min-width: 768px)" srcset="../img/about-us-tab.jpg" />
      <img src="../img/about-us-mob.jpg" alt="" class="about-us__image" />
    </picture>
  </div>
</section>
