<section class="bestsellers">
  <div class="container">
    <h2 class="bestsellers__title">Bestsellers</h2>
    <div class="bestsellers__gallery-wrapper">
      <div class="bestsellers__main-gallery-item">
        <div
          class="bestsellers__item-image-wrapper bestsellers__item-image-wrapper--first"
        >
          <img
            src="./img/bestsellers-1.jpg"
            alt=""
            class="bestsellers__main-gallery-image"
          />
        </div>
        <h3 class="bestsellers__main-gallery-title">The modern platform bed</h3>
        <p class="bestsellers__main-gallery-price">750$</p>
      </div>
      <ul class="bestsellers__list">
        <li class="bestsellers__item">
          <div class="bestsellers__item-image-wrapper">
            <img
              src="./img/bestsellers-2.jpg"
              alt=""
              class="bestsellers__image"
            />
          </div>
          <h3 class="bestsellers__item-title">The Cozy Lounge Chair</h3>
          <p class="bestsellers__item-price">230$</p>
        </li>
        <li class="bestsellers__item">
          <div class="bestsellers__item-image-wrapper">
            <img
              src="./img/bestsellers-3.jpg"
              alt=""
              class="bestsellers__image"
            />
          </div>
          <h3 class="bestsellers__item-title">The industrial accent chair</h3>
          <p class="bestsellers__item-price">250$</p>
        </li>
        <li class="bestsellers__item">
          <div class="bestsellers__item-image-wrapper">
            <img
              src="./img/bestsellers-4.jpg"
              alt=""
              class="bestsellers__image"
            />
          </div>
          <h3 class="bestsellers__item-title">The sleek stand</h3>
          <p class="bestsellers__item-price">300$</p>
        </li>
        <li class="bestsellers__item">
          <div class="bestsellers__item-image-wrapper">
            <img
              src="./img/bestsellers-5.jpg"
              alt=""
              class="bestsellers__image"
            />
          </div>
          <h3 class="bestsellers__item-title">The minimalist sofa</h3>
          <p class="bestsellers__item-price">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
