<div class="modal-burger is-open">
  <div class="container">
    <div class="modal-burger__top-bar">
      <a href="./" class="modal-burger__logo">
        <svg class="modal-burger__logo-icon">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="modal-burger__btn-close">
        <svg class="modal-burger__btn-icon">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="modal-burger__nav">
      <ul class="modal-burger__nav-list">
        <li class="modal-burger__nav-item">
          <a href="#about" class="modal-burger__nav-link">About us</a>
        </li>
        <li class="modal-burger__nav-item">
          <a href="#products" class="modal-burger__nav-link">Our products</a>
        </li>
        <li class="modal-burger__nav-item">
          <a href="#prices" class="modal-burger__nav-link">Prices</a>
        </li>
        <li class="modal-burger__nav-item">
          <a href="#bestsellers" class="modal-burger__nav-link">Bestsellers</a>
        </li>
        <li class="modal-burger__nav-item">
          <a href="#reviews" class="modal-burger__nav-link">Reviews</a>
        </li>
        <li class="modal-burger__nav-item">
          <a href="#contacts" class="modal-burger__nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
