.our-products {
  padding: 32px 0;
  background-color: #ffffff;
}

.our-products__title {
  margin-bottom: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
  color: #0a224a;
}

.our-products__list-wrapper {
  width: 100%;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.our-products__list {
  display: flex;
  column-gap: 16px;
}

.our-products__item-image {
  width: 250px;
  margin-bottom: 15px;
}

.our-products__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0a224a;
}

.our-products__slider {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-products__slider-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.our-products__slider-icon {
  width: 100%;
  height: 100%;
  fill: #0a224a;
}

.our-products__slider-line {
  position: relative;
  width: calc(100% - (24px * 2) * 2);
  height: 1px;
  background-color: #0a224a;
}
.our-products__slider-thumb {
  position: absolute;
  left: 0;
  top: -1px;
  width: 40%;
  height: 3px;
  transform: translate(0, 0);
  transition: transform 300ms linear;
  background-color: inherit;
}

@media screen and (min-width: 768px) {
  .our-products {
    padding: 50px 0;
  }

  .our-products__title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 45px;
  }

  .our-products__list {
    column-gap: 24px;
  }

  .our-products__item-image {
    width: 312px;
  }

  .our-products__item-title {
    font-size: 18px;
    line-height: 27px;
  }

  .our-products__slider-btn {
    width: 36px;
    height: 36px;
  }

  .our-products__slider-line {
    width: calc(100% - (24px + 36px) * 2);
  }
}

@media screen and (min-width: 1440px) {
  .our-products__slider-btn {
    width: 48px;
    height: 48px;
  }

  .our-products__slider-line {
    width: calc(100% - (24px + 48px) * 2);
  }
}
